@model AnimalShelterClient.Models.Animal

@using (Html.BeginForm("Create", "Home"))
{
  <div class="form-row">
    @Html.LabelFor(model => model.Species)
    @Html.TextBoxFor(model => model.Species)
  </div>
  <div class="form-row">
    @Html.LabelFor(model => model.Breed)
    @Html.TextBoxFor(model => model.Breed)
  </div>
  <div class="form-row">
    @Html.LabelFor(model => model.Gender)
    @Html.TextBoxFor(model => model.Gender)
  </div>
  <div class="form-row">
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)
  </div>
  <button class="green" type="submit">Add animal</button>
}

<a href="/">
  <button>Cancel</button>
</a>