@model AnimalShelterClient.Models.Animal


  @using (Html.BeginForm("Edit", "Home"))
{
  @Html.HiddenFor(model => model.AnimalId)
  <div class="form-row">
    @Html.LabelFor(model => model.Species)
    @Html.EditorFor(model => model.Species)
  </div>
  <div class="form-row">
    @Html.LabelFor(model => model.Breed)
    @Html.EditorFor(model => model.Breed)
  </div>
  <div class="form-row">
    @Html.LabelFor(model => model.Gender)
    @Html.EditorFor(model => model.Gender)
  </div>
  <div class="form-row">
    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
  </div>

  <button class="yellow" type="submit">Edit animal</button>
}

<a href="/">
  <button>Cancel</button>
</a>