@{
    ViewData["Title"] = "Animal Shelter Client";
}

@using AnimalShelterClient.Models

<div id="home-container">

<h1 class="page-header">
    <span>@ViewBag.TotalCount animals available</span>
    @if (User.Identity.IsAuthenticated) 
    {
        @await Html.PartialAsync("CreateModal", new Animal())
        <button class="green" onclick="showModal('create-modal')">Add an Animal</button>
    }
</h1>

<div class="page-display">
   <div>Page @ViewBag.CurrentPage of @ViewBag.TotalPages</div>
   <label for="pageSize">Results per page:</label>
   @using (Html.BeginForm("Index", "Home", new { currentPage = 1 }))
   {
    <select name="pageSize">
        @for (var i = 3; i <= 30; i += 3)
        {
            <option selected=@(ViewBag.PageSize == i) value="@i">@i</option>
        }
    </select>
    <div>
        <button>Change</button>
    </div>
   }
   
</div>
@await Html.PartialAsync("PageLinkSpread")

@if (Model != null)
{
    <ul id="home-animal-list" class="animal-list obscured">
        @foreach (Animal animal in Model) @await Html.PartialAsync("AnimalListItem", animal)
    </ul>
}
else 
{
    <p>No animals found.</p> 
}

@await Html.PartialAsync("PageLinkSpread")

</div>

<script>
window.addEventListener("load", () => {
    document.getElementById("home-animal-list").classList.remove('obscured');
});
</script>

